/target/.rustc_info.json
/target/debug
/target/release
/target/doc/aho_corasick
/target/doc/src/aho_corasick
/target/doc/implementors/aho_corasick
/target/doc/lazy_static
/target/doc/src/lazy_static
/target/doc/implementors/lazy_static
/target/doc/memchr
/target/doc/src/memchr
/target/doc/implementors/memchr
/target/doc/regex
/target/doc/src/regex
/target/doc/implementors/regex
/target/doc/regex_syntax
/target/doc/src/regex_syntax
/target/doc/implementors/regex_syntax
/target/doc/thread_local
/target/doc/src/thread_local
/target/doc/implementors/thread_local